.card {
    width: 100%; 
    /* padding: 0.2rem; */
    padding: 2px;
    margin-bottom: 0.75rem; /* Espacio entre tarjetas */
    background-color: #0056b3;
    border-color: #0e71db;
    border-radius: 8px; /* Bordes redondeados para mantener el estilo */
    height: auto; 
}

.clickable-card {
    cursor: pointer;
}

.clickable-card:hover {
    background-color: #004080; /* Cambia el color de fondo al pasar el ratón sobre la tarjeta */
}


.card-tag {
    background-color: #175ec9; 
    color: #6ca4db;
    border-radius: 8px; 
    font-size: 0.85rem; 
    margin: 0%;
}

